html, body, #root {
  height: 100%;
}

#root {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#root nav.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.flex {
  display: flex;
}

.unstyled {

}