#root {
  text-align: center;
}

#root nav.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.flex {
  display: flex;
}

.unstyled {

}